/* Bem vindo */

.bem-vindo{
  display: flex;
  padding: 5px 250px;
  margin-top: 60px;
  color: var(--vinho);
  gap: 30px;
}

.bem-vindo__texto{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
}

.bem-vindo__texto h3{
  font-weight: 400;
  letter-spacing: 3px;
  font-size: 22px;
}

.bem-vindo__texto span{
  font-family: 'Pacifico', cursive;
  font-size: 36px;
}

.bem-vindo__texto p{
  margin-bottom: 20px;
}

.bem-vindo__texto a{
  background-color: var(--verde);
  border-radius: 8px;
  padding: 10px 40px;
  text-decoration: none;
  color: #fff;
  width: 70%;
  text-align: center;
}

.bem-vindo__img img{
  width: 350px;
}

/* Encomenda */

.encomenda{
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.encomenda__img{
  width: 200px;
  height: 200px;
}

.encomenda__texto{
  background-color: var(--verde-claro);
  border-radius: 0 8px 8px 0;
  padding: 10px 20px 10px 10px;
  color: var(--vinho);
}

.encomenda__texto h4{
  font-weight: 400;
}

.encomenda__texto span{
  font-family: 'Pacifico', cursive;
  font-size: 25px;
}

.encomenda__click, .encomenda__call{
  display: flex;
  gap: 20px;
  align-items: center;
}

.encomenda__click img, .encomenda__call img {
  width: 30px;
  height: 30px;
  display: flex;
  background-color: var(--rosa-claro);
  padding: 5px;
  border-radius: 50%;
}

.encomenda__click{
  margin-bottom: 15px;
  margin-top: 20px;
}

.encomenda__click p, .encomenda__call p{
  font-weight: 700;
  font-size: 14px;
}